body {
  margin: 0;
  padding: 0;
}

.back {
  display: block;
  padding-top: 450px;
  background: url("bg.jpg");
  background-size: contain;
}

@keyframes car {
  from {transform: translateX(0%);}
  to {transform: translateX(550%);}
}

img {
  animation-name: car;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1.5;
  animation-direction: alternate;
  animation-fill-mode: forwards;


}

img:hover {
  animation-play-state: paused;
}
