.first-btn {
  width: 200px;
  height: 100px;
  background-color: #f2ff20;
  transition: background-color 2s linear 0s;
}

.first-btn:hover {
  background-color: #076a07;
}

.first-btn:active {
  background-color: #6a4d07;
}

.block {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #076a5f;
  margin-top: 100px;
  transform: translateX(-80%);
  transition: transform 2s linear 0s;
}

.block:hover {
  transform: translateX(10%);
}
